.catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.catalog-left{
    display: flex;
    flex-direction: column;
    width: 29vw;
    align-items: center;
    text-align: center;
    justify-content: center;
       
}

.catalog-left-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
   
}

.catalog-left-top p{
    color: white;

}

.catalog-left-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 50%;
    text-align: left;
    text-align: center;
    color: black;
    
}

.catalog-right{
    width: 67%;
    display: flex;
    flex-direction: column;
    
}

.catalog-cards{
    display: flex;
    padding: 0.5em;
    overflow-x: auto;

}

@media (max-width: 768px){
    .catalog{
    flex-direction: column;
      
}
.catalog-left{
    flex-direction: column;
    width: 100vw;
    
}

.catalog-left-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
}

.catalog-left-top p{
    color: white;

}

.catalog-left-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 50%;
    text-align: left;
    text-align: center;
    color: black;
    
}

.catalog-right{
    width: 100%;
    display: flex;
   
    
}

.catalog-cards{
    display: flex;

    padding: 0.5em;
    overflow-x: auto;

}
}